
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');






* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.9px;
  scroll-behavior: smooth;
  line-height: 1.6;
  word-spacing: 1.1px;
  
}

html{
  background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(210,210,210,1) 100%);
}

nav{
  width: 100%;
  display: flex;
  justify-content: end;

 
}

.nav__links{
  display: flex;
 list-style: none;
 font-weight: 500;
 padding: 50px 10%;
}

.nav__links--a{
  padding: 0px 30px;
  color: white;
}


.landing{
  background: linear-gradient(250deg, rgb(0,180,216) 50%, rgb(245,245,245) 50%);
  height: 100vh;
}

.landing__text{
  display: flex;
  flex-direction: column;
 
 margin-left: 18%;
 margin-top: 10%;
 width: 450px;
}

.landing__text--hi{
  font-size: 24px;
 color: rgb(0,180,216);
}

.landing__text--name{
  font-weight: 200;
  font-size: 64px;
  font-family: 'Montserrat', sans-serif;
}

.landing__text--title{
  padding: 5px 0px;
}

.socials{
  margin-top: 70px;
}

.social__icon{
  width: 60px;
  height: 60px;
  margin: 10px 10px;
  padding: 10px;
  background-color: rgb(204, 199, 199);
  box-shadow: 0px 12px 12px -4px rgba(0,0,0,0.57);
}

/*

ABOUTME

*/

.aboutme{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;

}

.aboutme__info{
  width: 50%; 
  display: flex;
}

.aboutme__info--title{
  padding-bottom: 10px;
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;
}

.aboutme__info--details{
  margin-top: 40px;
}

.aboutme__info--li{
  margin-bottom: 20px;
  list-style: none;
}

.aboutme__info--wrapper{
  width: 70%;
  padding: 50px 50px;
}

.aboutme__profileimage{
width: 50%;
display: flex;
justify-content: end;
align-items: center;
}

.aboutme__profileimage--jpg{
  width: 600px;
  border: 10px solid black;
}

/*

Skills

*/
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

  
}

.skills__title{
  margin-bottom: 90px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
}

.skills__title--sub{
  margin-bottom: 100px;
  color: rgb(0,180,216);
  border: 6px solid;
  padding: 10px;
  font-size: 32px;
}

.skills__using--card{
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  height: 190px;
  align-items: center;
  
}

.skills__using--title{
  margin-top: 50px;
  font-size: 24px;
}




.skills__using{
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-gap: 70PX;
  margin-bottom: 50px;

}

.journey{
  text-align: center;
}

.journey__title{
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(0,180,216);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


/* 

CAROUSEL

*/

.projects{
  height: fit-content;
}

.carousel {
  position: relative;
  height: 100%;
}

.carousel__item--wrapper {
  height: 500px;
  margin-top: 50px;
  background: color rgb(246,246,246);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.carousel__item {
  top: 200px;
  opacity: 0;
  visibility: none;
  position: absolute;
  transition: all 300ms;
}

.carousel__item.carousel__item--selected {
  transition: all 500ms;
  transform: translateY(30px);
  margin-bottom: 30px;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.carousel__nav {
  width: 100%;
  text-align: center;
  color: black;
}

.carousel__button {
  font-size: 30px;
  display: inline-block;
  background-color: transparent;
  margin: 0 20px;
  cursor: pointer;
  transition: all 300ms;
  color: rgb(255, 0, 0);
}

